.scrool {
  overflow-x: hidden;
  overflow-y: auto;
}

.logo {
  width: 100px;
}

.menue {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin: 0px 16px;
  align-items: center;
  font-family: Gilroy;
  flex-wrap: wrap;
  color: #303965;
  transition: 0.2s;
}

.menue :hover {
  color: #000000;
  font-size: larger;
  transition: 0.2s;

}

a {
  text-decoration: none;
  color: #303965;
}

.Header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 50px;
  justify-content: left;

}

.menue .underline {
  border-bottom: 2px solid #303965;
  margin: 0 52px;
  padding-bottom: 10px;


}

.Banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
}

.txt-banner {
  font-family: Gilroy;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.img-banner {
  margin-right: 20px;
  width: 448px;
  height: 440px;
}

.img-banner img {
  width: 458px;
  height: 440px;
}

.smltxt-banner {
  color: #374151;
  font-size: 20px;
  margin: 0.5;
  padding: 0.5;
}

@font-face {
  font-family: Gilroy;
  src: url(/assets/font/Gilroy-FREE/Gilroy-ExtraBold.otf), url(/assets/font/Gilroy-FREE/Gilroy-Light.otf);
}

.box {
  width: 210px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #1118271F;
  /* margin-bottom: 15px; */
  display: flex;
  flex-wrap: wrap;
  /* margin-top: -10px; */
  align-items: center;
  /* margin-left: 20px; */
  position: relative;
}

.arrow {
  position: absolute;
  right: 5px;
}

.arrow img {
  width: 24px;
  height: 28px;
  /* margin:15px;
padding-left: 89px; */
}

.txt-box {
  display: flex;
  justify-content: flex-end;
  padding-left: 15px;
}

.txt-f-t {
  font-family: Comfortaa;
  font-size: 15px;
  line-height: 32.2px;
  align-items: center;
  color: #303965;
  margin-bottom: 123px;
}

.btn {
  background-color: #303965;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  align-items: center;
  border: none;
  margin-top: 6px;
}

.btn:hover {
  color: #303965;
  border: 2px solid #303965;
  background-color: #ffffff;
  cursor: pointer;
}

.search-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 17px 50px;
}

.bold-txt {
  font-size: 38px;
  line-height: 60px;
  color: #111827;
  text-align: start;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.sml-txt {
  font-size: 18px;
  line-height: 28px;
  color: #374151;
  text-align: start;
  font-weight: 400;
  margin: 0.5;
  padding: 0.5;
}

.ach-column {
  display: flex;
  flex-direction: column;
  padding: 60px 50px;
  align-items: center;

}

.charts {
  display: flex;

  /* right: 0%; */

  flex-wrap: wrap;
  /* position: absolute; */
  padding-right: 44px;

}

.achievements {
  background-color: #F8FAFC;
  display: flex;
  justify-content: space-between;
  padding: 28px;
  flex-wrap: wrap;

}

.chart1-4 {
  display: flex;
  align-items: center;
  padding-left: 85px;
  padding-bottom: 35px;
  flex-wrap: wrap;
}

.chart-txt {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: relative;

}

/* .chart-txt {
  padding: 10px;
} */
.title {
  font-size: 30px;
  width: 100;
  line-height: 45px;
  color: #111827;
  height: 30px;
  margin: 0;
  padding-bottom: 10px;
}

.about-title {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  max-width: 400px;
  color: #374151;
  height: 30px;
  margin: 0;
}

.Star {
  margin-left: 35px;
  width: 15px;
  position: absolute;
  right: 15px;
  top: 0;
}

.dstn-txt {
  font-size: 38px;
  line-height: 60px;
  color: #111827;
  text-align: start;
  font-weight: 500;
  padding: 12px 50px;
}

.dstn-img {
  width: 288px;
  height: 186px;

}

.flg {
  margin-left: 15px;
}

.country {
  margin-left: 83px;
  margin-top: -29px;
  color: #111827;
}

.l-m {
  /* margin-left: 74px; */
  /* من هرکاری میکنم متن لرن مور پایین تر; */
}

.learn-box {
  background-color: #ffffff;
  border: 2px solid #303965;
  border-radius: 12px;
  width: 90%;
  margin: auto;
  height: 35px;
  /* margin-left: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-dstn {

  height: 280px;
  border-radius: 12px;
  border: 2px solid #7C3AED1F;
  position: relative;
}

.Destinations {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  flex-wrap: wrap;
}

.ellips {
  display: flex;
  position: relative;
}

.arrow-ellips {
  display: flex;
  width: 54px;
  height: 54px;
  right: 81px;
  top: 35px;
  position: absolute;
  flex-wrap: wrap;
}

.gray {
  position: absolute;
  top: 20px;
  height: 34px;
}

.blue {
  position: relative;
  left: 34px;
  top: 14px;
  width: 59px;
}

.ch-us {
  font-size: 38px;
  line-height: 60px;
  color: #111827;
  text-align: center;
  font-weight: 500;
}

.options {
  font-size: 28px;
  line-height: 40px;
  color: #111827;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.ab-opt {
  font-size: 18px;
  line-height: 24px;
  color: #374151;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

.img-op {
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

.flx-op {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  flex-wrap: wrap;
}

.img-work {
  text-align: center;
  margin: 0;
  vertical-align: middle;
}

.Work {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  flex-wrap: wrap;
}

.choose-us {
  background-color: #F8FAFC;
  padding-top: 20px;
  padding-bottom: 72px;

}

.img-work img {
  width: 171px;
  height: 171px;
}

.h-work {
  font-size: 23.5px;
  line-height: 40px;
  color: #111827;
  text-align: center;
  padding: 10px;
  margin: 0;
}

@media (max-width: 1100px) {
  .ach-column {
    padding: 30px 20px;
    align-items: flex-start;
  }


  .box-dstn {
    margin-top: 20px;
    /* margin-left: 53px; */

  }

  .ch-op {
    margin-bottom: 30px;
    margin-left: 43px;
  }

  .wrk {
    margin-bottom: 30px;
    margin-left: 43px;
  }

  .box-com {
    margin-bottom: 30px;
  }



  /* .arrow img{
    margin-left: 150px;
  
    padding-bottom: 102px;
  }
   */

  /* .charts {

    position: static;
  } */

  .achievements {
    padding: 14px;
    justify-content: center;
  }

  .chart1-4 {
    padding-left: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }



  .title {
    font-size: 24px;
    line-height: 35px;
  }

  .about-title {
    font-size: 12px;
    line-height: 20px;
  }

  .Star {
    margin-left: 29px;
    width: 15px;
  }
}

.comment-img {
  margin-left: 144px;
  margin-top: 23px;

}

.str-img {
  padding-left: 108px;
  padding-top: 32px;
}

.people {
  text-align: center;
  line-height: 24px;
}

.name {
  margin-left: 115px;
  color: #303965;

  font-size: 19px;
}

.comma {
  width: 42px;
  height: 32px;
  border-radius: 2px;
  left: 14px;
  top: 62px;
  position: absolute;
}

.box-com {
  width: 341px;
  height: 298px;
  border-radius: 12px;
  border: 2px solid #7C3AED1F;
  position: relative;
  background-color: #ffffff;
}

.comments {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  flex-wrap: wrap;
}

.comment-title {
  font-size: 28px;
  line-height: 60px;
  color: #111827;
  font-weight: 500;
  margin: auto;
  padding: 26px;
}

.bk-com {
  background-color: #F8FAFC;
  padding-top: 20px;
  padding-bottom: 72px;
  margin-top: 56px;
}

.arrow-ellip {
  display: flex;
  width: 54px;
  height: 54px;
  top: 35px;
  position: relative;
  margin: auto;
  flex-wrap: wrap;
}

.footer-t {
  font-size: 18px;
  width: 400px;
  line-height: 18px;
  color: #ffffff;
  padding: 10px 50px;
}

.footer {
  background-color: #303965;
  padding: 10px 50px;
  padding-top: 42px;
}

.title-f {
  font-size: 29px;
  width: 700px;
}

.flx-footer {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  text-align: center;
  padding: 15px;
  margin-right: 20px;
  margin-top: 75px;
}

.icons img {
  margin-right: 10px;
}

.contact {
  color: #F8FAFC;
}


@media screen and (max-width: 998px) {
  .Destinations {
    padding: 0;
    justify-content: center;
  }

  .search-box {
    width: 100%;
  }

  .box {
    width: 100%;
  }

  .Header {
    justify-content: space-between;
  }

  /* .btn {
    width: 280px;
  } */
  .btn {
    width: 100%;
  }

  .img-banner {
    width: 100% !important;
  }

  .img-banner img {
    width: 100% !important;
  }

  .menue {
    display: none;
  }


  /* .logo {
    margin-left: 250px;
  } */

  .txt-banner {
    font-size: 30px;
  }

  .bold-txt {
    font-size: 30px;
  }

  .dstn-txt {
    font-size: 25.5px;
  }

  .ch-us {
    font-size: 25.5px;
  }

  .comment-title {
    font-size: 25.5px;
    text-align: center;
  }

}

@media screen and (min-width: 998px) {

  .icone-ham {
    display: none;
  }

}

.icone-ham {
  margin-top: 20px;
}

.info {
  color: #F8FAFC;
  line-height: 35px;
}

.category-f {
  font-size: 25px;
  width: 400px;
  color: #ffffff;
}

.flx-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  flex-wrap: wrap;
}

.logo-footer {
  margin-top: 20px;
  line-height: 25px;
}

/* .btn {

  margin-right: 50px;
} */

.category-f {
  width: 100%;

}


/* @media screen and (max-width: 998px){
  .arrow img{
    margin-left: 150px;
    margin-top: 17px;
    padding-bottom: 102px;
  }
  @media screen and (max-width: 464px){
    .arrow img{
      margin-top: -50px;
    }
 
}
} */